@model AutoSherpa_project.Models.campaign

@{
    ViewBag.Title = "addCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Success == false)
{
    <script>
        alert("This campaign name already exists in the database,please provide some other campaign name.");
    </script>
}

@using (Ajax.BeginForm("CampaignPost", "Campaign", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure"
}))
{
   
    <div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Module Type")
                @if (Session["LoginUser"].ToString() == "Service")
                {
                    @Html.DropDownListFor(m => m.campaignType, new List<SelectListItem> {
                          new SelectListItem{Text="SMR",Value="Campaign"},
                            new SelectListItem{Text="PSF",Value="PSF"},
                            new SelectListItem{Text="TaggingSMR",Value="TaggingSMR" }
                    }, "--Select--", new { @class = "form-control", @id = "campaignTypeID",@required="required" })
                }
                @if (Session["LoginUser"].ToString() == "Insurance")
                {
                    @Html.DropDownListFor(m => m.campaignType, new List<SelectListItem> {
                          new SelectListItem{Text="Insurance",Value="Insurance"},
                          new SelectListItem{ Text="TaggingINS",Value="TaggingINS"}
                    }, "--Select--", new { @class = "form-control", @id = "campaignTypeID",@required="required" })
                }
            </div>
            <div class="col-md-3">
                @Html.Label("Campaign Name")
                @Html.TextBoxFor(m => m.campaignName, new { @class = "form-control", @id = "campName",@required="required" })
                
            </div>
            <div class="col-md-3">
                @Html.Label("Select From Date")
                @Html.TextBoxFor(m => m.createdDate, new { @class = "form-control", @id = "date-picker-one", @autocomplete = "off",@required="required" })
                
            </div>
            <div class="col-md-3">
                @Html.Label("Select  Expiry Date")
                @Html.TextBoxFor(m => m.expiryDate, new { @class = "form-control", @id = "date-picker-two", @autocomplete = "off",@required="required" })
                
            </div>
        </div>
        <br />
        <div>
            <input type="submit" name="campaignSubmit" value="Submit" class="btn btn-success" />
            @*@Ajax.ActionLink("Submit","CampaignPost",new AjaxOptions {HttpMethod="POST",OnSuccess="successAlert();" })*@
        </div>
    </div>
}
@section scripts{
    <script>
        $(document).ready(function () {
           
            $("#date-picker-two").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                minDate: new Date()
            }).datepicker("setDate", new Date());
            $("#date-picker-one").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                onSelect: function () {
                    $('#date-picker-two').datepicker('option', 'minDate', $("#date-picker-one").datepicker("getDate"));
                }
            }).datepicker("setDate", new Date());
        });


        function OnSuccess(res) {
                if (res.success == true) {
                    Lobibox.notify('success', {
                        msg: 'Submitted successfully!'
                    });
                    $('#campaignTypeID').val('');
                    $('#campName').val('');
                    $('#date-picker-one').val('');
                    $('#date-picker-two').val('');
                }
                else if (res.success == false) {
                    Lobibox.notify('warning', {
                        msg: res.error
                    });
                }
        }

        function OnFailure(res) {
            console.log(res);
            Lobibox.notify('success', {
                msg: 'Internal Server Error,Something went wrong'
            });
        }

            $("#campName").keypress(function (e) {
                var key = e.keyCode || e.which;
                console.log(key + "");
                if ((key >= 97 && key <= 122) || (key >= 65 && key <= 90) || (key >= 48 && key <= 57) || key == 32) {
                    //No Action
                }
                else {
                    Lobibox.notify('warning', {
                        continueDelayOnInactiveTab: true,
                        msg: 'Only alphabates are allowed.'
                    });

                    return false;
                }
            });

    </script>
}